<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>USIP-ANGULAR</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="styles.css"/>
</head>

<body>
  <div class="container">
    <h1>Usip Angular</h1>
    <form class="form">
      <div class="row">
        <div class="col">
          <input type="text" id="name" name="name" placeholder="Introducir Nombre"><br><br>
        </div>
        <div class="col">
          <input type="text" id="surname" name="surname" placeholder="Introducir Apellido"><br><br>
        </div>
        <div class="col">
          <input type="radio" id="male" name="male" value="male">
          <label for="male">Masculino</label><br>
          <input type="radio" id="female" name="female" value="female">
          <label for="female">Femenino</label><br><br>
        </div>
        <div class="col">
          
          <input type="email" id="email" name="email" placeholder="Introducir email"><br><br>

        </div>

      </div>
      <div class="row">
        <div class="col">
          <input type="text" id="phone" name="phone" placeholder="Introducir telefono"><br><br>

        </div>
        <div class="col">
          <input type="text" id="lname" name="adress" placeholder="Introducir dirección"><br><br>

        </div>
        <div class="col">
          <select name="coordinator" id="coordinator" class="select">
            <option value="0">Coordinador</option>
            <option value="1">Pablo Maseda</option>
            <option value="2">Celeste Arena</option>
            <option value="3">Carlos Corvalan</option>
            <option value="4">Matias Biancotti</option>
          </select><br><br>
        </div>
        <div class="col">
          <select name="project" id="project" class="select">
            <option value="5">Proyecto</option>
            <option value="6">Boleto Estudiantil</option>
            <option value="7">Matriculación</option>
            <option value="8">Plan Sarmiento</option>
            <option value="9">Inscripción en Linea</option>
          </select><br><br>

        </div>

      </div>

      <button type="submit" class="btn btn-primary">Agregar al personal</button>
    </form>
  </div>
</body>

</html>